.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	height: 100%;
	margin: 0px;
}
.logo img {
	margin-top: 20px;
	width: 85px;
	height: 90px;
}
#offname p {
	font-size: 28px;
	color: rgb(28, 3, 68);
	text-align: center;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #0b0d96;
}
#offname p span {
	font-size: 22px;
	color: darkgreen;
	text-align: center;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #037716;
}

.tabs .indicator {
	background-color: rgb(23, 3, 70); /*your color*/
}

.responsive-img
{
	max-width: 100%;
	height: auto;
}